data
Untitled.*
*.png
*.pkl
*zip*

data2
output
temp
tmp
dataset
datasets
__pycache__

# 1Konny
workroom
*_model
*_results

horse2zebra
horse2zebra/testA
horse2zebra/testB
horse2zebra/trainA
horse2zebra/trainB
download_horse2zebra.sh
